.API-container {
  border-bottom: 1px solid rgba(2, 167, 156, 0.2);
  padding: 12px;
  cursor: pointer;
}

.API-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.name {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  width: 126px;
  margin-left: 12px;
}

.API-container:hover {
  background-color: rgba(172, 172, 172, 0.1);
}

.GET {
  font-size: 12px;
  font-weight: bold;
  background:rgba(2, 167, 27, 0.4);
  border-radius: 4px;
  color: #fff;
  padding: 4px 8px;
  width: 46px;
}

.POST {
  font-size: 12px;
  font-weight: bold;
  background:rgba(2, 167, 156, 0.4);
  border-radius: 4px;
  color: #fff;
  padding: 4px 8px;
  width: 46px;
}

.PUT {
  font-size: 12px;
  font-weight: bold;
  background:rgba(2, 2, 167, 0.4);
  border-radius: 4px;
  color: #fff;
  padding: 4px 8px;
  width: 46px;
}

.DELETE {
  font-size: 12px;
  font-weight: bold;
  background:rgba(167, 13, 2, 0.4);
  border-radius: 4px;
  color: #fff;
  padding: 4px 8px;
  width: 46px;
}

.PATCH {
  font-size: 12px;
  font-weight: bold;
  background:rgba(153, 2, 167, 0.4);
  border-radius: 4px;
  color: #fff;
  padding: 4px 8px;
  width: 46px;
}

.url {
  font-size: 14px;
  color: rgb(150, 150, 150);
  padding-left: 20px;
}

.menu-ellipsis {
  opacity: 0;
  font-size:16px;
}

.API-container:hover .menu-ellipsis {
  opacity: 1;
}