.Request-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  margin: 20px;
}

.Request-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 19px;
  margin-left: -19px;
  flex-grow: 1;
  width: 90%;
}

.High-Tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: baseline;
  width: 150px;
  gap: 4px;
  margin: -20px;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5pt;
  cursor: pointer;
  color: #02a79c;
  border-bottom: 2px solid red;
}

.High-Tabs:hover {
  background: rgba(2, 167, 156, 0.03);
}

.icon-api {
  width: 20px;
  height: 20px;
  background: rgb(6, 169, 6);
  color: white;
  border-radius: 50%;
  margin-right: 4px;
}

.icon-save {
  width: 24px;
  height: 24px;
  color: rgb(152, 152, 152);
  margin-left: 38vw;
  margin-top: -1rem;
}

.icon-close {
  width: 20px;
  height: 20px;
  color: black;
  margin-left: auto;
}

.icon-close:hover {
  background: rgba(83, 83, 83, 0.1);
  border-radius: 40%;
}
