.Result-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
  margin: 1px;
  border-left: 1px solid rgba(2, 167, 156, 0.2);
}

.Result-info {
display:flex;
flex-direction: row;
justify-content: space-between;
padding: 6px;
font-size: 14px;
}

.green {
  color: #02a79c;
  font-weight: bold;
}

.Result-body {
  padding: 10px;
  flex-grow: 1;
  font-size: 14px;
  line-height: 1.4;
}
